.form {
    padding:10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
.rounded-input {
    padding:6px;
    margin-left :10px;
    border-radius:10px;
    box-shadow:0 0 10px 2px rgba(0,0,0,0.06);
}

.btn {
    border-radius: 8px;
    background-color: #008CBA;
    border: none;
    padding: 10px 22px;
    color : white;
    font-size: 16px;
}

footer {
    padding:10px;
}